
			<tbody>
				<tr>
					<td>
						<%= link_to user_path(book.user) do %>
							<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
						<% end %>
					</td>
					<td><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>
					<td><%= book.body %></td>
                    <% if @book.user == current_user && book_path(@book)%>
				    	<td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
				    	<td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
				    <% end %>
					<td>
                        <div id="favorite_buttons">
                            <%= render 'favorites/form',book: book %>
                        </div>
					</td>
					 <div class="comment-form">
					<td><%= book.book_comments.count%>件コメント</td>
					</div>
				</tr>
			</tbody>
