<h2>follow</h2>
<% unless  @users.count == 0     %>
    <table class="table">
        <tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
				<td><%= user.name %></td>
				<td>フォロー数：<%= user.followings.count %></td>
				<td>フォロワー数：<%= user.followers.count %></td>
				<td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
    <h2>ユーザーはいません</h2>
<% end %>